# Build artifacts
bin/
obj/

# IDE Metadata
.vs/

# Data files
*.litedb
*.sqlite

# NCrunch
_NCrunch_munchkin_scoreboard_api/
*ncrunchsolution
*.user
*.ncrunchproject

# Coverage Reports
Cobertura.xml
coverage.cobertura.xml

# Exception due to *.litedb entry
!TheFipster.Munchkin.Gaming.Storage.LiteDb/

# Security related files
*.rsa
