<div style="height: 90vh;">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <a class="page-title" mat-button [routerLink]="['/']">Munchkin Scoreboard</a>
            <span class="menu-spacer"></span>
            <div fxShow="true" fxHide.lt-md>
                <a mat-button *ngIf="isAuthenticated" [routerLink]="['/dashboard']">Dashboard</a>
                <a mat-button [routerLink]="['/viewer']">Viewer</a>
                <a mat-button *ngIf="isAuthenticated" [routerLink]="['/master']">Master</a>
                <a mat-button *ngIf="isAuthenticated" [routerLink]="['/profile']">Profile</a>
                <button *ngIf="!isAuthenticated" mat-button (click)="login()">Login</button>
                <button *ngIf="isAuthenticated" mat-button (click)="logout()">Logout</button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a mat-list-item *ngIf="isAuthenticated" [routerLink]="['/dashboard']">Dashboard</a>
                <a mat-list-item [routerLink]="['/viewer']">Viewer</a>
                <a mat-list-item *ngIf="isAuthenticated" [routerLink]="['/master']">Master</a>
                <a mat-list-item *ngIf="isAuthenticated" [routerLink]="['/profile']">Profile</a>
                <button *ngIf="!isAuthenticated" mat-list-item (click)="login()">Login</button>
                <button *ngIf="isAuthenticated" mat-list-item (click)="logout()">Logout</button>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>