.hero-name {
    font-size: 1.2em;
    margin-right: 30px;
}

.hero-property {
    position: relative;
    margin-left: 10px;
    bottom: 5px;
}

.hero-property i {
    position: relative;
    top: 5px;
}

.property-btn strong {
    margin-left: 10px;
}

.hero-card {
    margin-top: 30px;
}